<div style="margin-top: 100px;">
    <div id="contentOne" class="d-flex justify-content-center mb-4">
        <div class="w-25">
            <a href="/todo-list" style="text-decoration: none;color: white;">
                <h2 class="fw-semibold">Organize your tasks</h2>
            </a>
        </div>
        <div class="ms-4 ps-3 w-50 border-start">
            <p class="text-light fw-light lh-lg text-start">Creating a to-do list is a simple yet powerful tool that can <em><strong class="text-warning">enhance focus</strong></em>, productivity, time management, and <em><strong class="text-warning">reduce stress</strong></em>. By incorporating this practice into your daily routine, <em><strong class="text-warning">you can achieve your goals</strong></em> more effectively and enjoy a greater sense of accomplishment.</p>
        </div>
    </div> 
        
    <div id="contentTwo" class="d-flex justify-content-center mb-4">
        <div class="w-25">
            <a href="/habit-tracker" style="text-decoration: none;color: white;">
                <h2 class="fw-semibold text-light">Repeat your habits</h2>
            </a>
            
        </div>
        <div class="ms-4 ps-3 w-50 border-start">
            <p class="text-light fw-light lh-lg text-start">Using an habit tracker is a powerful tool for fostering positive change and achieving your goals. By increasing <em><strong class="text-warning">self-awareness</strong></em>, consistency, accountability, and <em><strong class="text-warning">motivation</strong></em>, habit trackers can help you develop sustainable habits that contribute to your overall well-being and <em><strong class="text-warning">success</strong></em>.</p>
        </div>
    </div>
    
    <div id="contentThree" class="d-flex justify-content-center">
        <div class="w-25">
            <a href="/pomodoro-timer" style="text-decoration: none;color: white;">
                <h2 class="fw-semibold text-light">Track your time</h2>
            </a>
        </div>
        <div class="ms-4 ps-3 w-50 border-start">
            <p class="text-light fw-light lh-lg text-start">The Pomodoro timer technique has gained popularity among students due to its effectiveness in <em><strong class="text-warning">enhancing productivity and focus</strong></em> during study sessions. By improving concentration and <em><strong class="text-warning">reducing distraction</strong></em>, this method helps develop discipline in <em><strong class="text-warning">managing time efficiently</strong></em> and increase motivation.</p>
        </div>
    </div>
</div>
