<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="ms-3">
        <a class="navbar-brand" routerLink="">
            <img src="home.png" width="30" height="30" alt="">
        </a>
    </div>
    <div class="collapse navbar-collapse nav d-flex justify-content-center" id="navbarNav">
      <ul class="navbar-nav nav-underline">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="habit-tracker" >Habit Tracker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="pomodoro-timer" >Pomodoro Timer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="todo-list">To-do List</a>
        </li>
      </ul>
    </div>
    <div class="me-3">
      <a class="navbar-brand" href="#">
        <img src="login.png" width="30" height="30" alt="">
      </a>
    </div>
    
  </nav>
